<h2>LOGIN</h2>

<form id='loginForm'>
    <input id="email" name="email" placeholder="Correo Electr칩nico">
    <input type="password" id="password" name="password" placeholder="Contrase침a">
    <input type="submit"> | <a href="http://localhost:8080/register">Registrate</a>              
</form>  
<script src="js/login.js"></script>

{{!-- <h2>LOGIN</h2>

<form id="loginForm" action="api/sessions/login" method="post">
    <input id="email" name="email" placeholder="Correo Electr칩nico">
    <input type="password" id="password" name="password" placeholder="Contrase침a">
    <input type="submit"> | <a href="http://localhost:8080/register">Registrate</a>              
</form> --}}